body {
  background: #323954;
}
.App {
  display: grid;
  place-items: center;
}

h1 {
  color: #fff;
}

.counter__container {
  background: #fff;
  padding: 20px;
  min-width: 300px;
  border-radius: 20px;
  min-height: 100px;
}

.counter {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.counter > button {
  background: #323954;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.counter > button:hover {
  background: #46b;
}

button:focus {
  outline: none;
}
.counter span {
  font-weight: 800;
  font-size: 2em;
}
.red__Counter {
  color: red;
}

.reset__button {
  width: 20%;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background: #f12;
  border: none;
  color: #fff;
}

.reset__button:hover {
  opacity: 0.5;
}

button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
